body {
    text-align: center;
    background-color: antiquewhite;
}
h1{
    font-style: italic;
    color: darkred;
}

div {
    color: indigo;
    text-align: center;
}

img {
    border-radius: 25%;
}
form{
    border-radius: 50%;
}
td {
    padding: 15px;
    text-align: left;
}
