<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CONSULTAS</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>

<form class="form-consultas" action="/consultas" method="post" role="form">
    <h2>Consulte por su ruta</h2>

    <p>En el caso de autobús y de avión, es posible realizar reservaciones, sólo debe dar click en "Ir a reservaciones".</p>
    <p>Cuando hay transbordos, se brinda opciones de transporte público.</p>
    <p>Si desea utilizar el servicio privado de Taxi, realice la consulta específica.</p>

    <h5>1. Seleccione su punto de origen</h5>
    <select name="origen">
        <option value=1>1. La Fortuna</option>
        <option value=2>2. Quepos</option>
        <option value=3>3. Las Juntas</option>
        <option value=4>4. Guápiles</option>
        <option value=5>5. Golfito</option>
        <option value=6>6. Liberia</option>
        <option value=7>7. San José</option>
        <option value=8>8. Upala</option>
        <option value=9>9. PV Sarapiquí</option>
        <option value=10>10. Cahuita</option>
        <option value=11>11. Cañas</option>
        <option value=12>12. Turrialba</option>
        <option value=13>13. Pérez Zeledon</option>
        <option value=14>14. Uvita</option>
        <option value=15>15. Cartago</option>
        <option value=16>16. Tilarán</option>
        <option value=17>17. Moravia</option>
        <option value=18>18. Cerro Chirripó</option>
        <option value=19>19. Santa Elena</option>
        <option value=20>20. Bribri</option>
        <option value=21>21. Talamanca</option>
        <option value=22>22. Los Chiles</option>
        <option value=23>23. Heredia</option>
        <option value=24>24. Santa Cruz</option>
    </select>

    <h5>2. Seleccione su destino</h5>
    <select name="destino">
        <option value=1>1. La Fortuna</option>
        <option value=2>2. Quepos</option>
        <option value=3>3. Las Juntas</option>
        <option value=4>4. Guápiles</option>
        <option value=5>5. Golfito</option>
        <option value=6>6. Liberia</option>
        <option value=7>7. San José</option>
        <option value=8>8. Upala</option>
        <option value=9>9. PV Sarapiquí</option>
        <option value=10>10. Cahuita</option>
        <option value=11>11. Cañas</option>
        <option value=12>12. Turrialba</option>
        <option value=13>13. Pérez Zeledon</option>
        <option value=14>14. Uvita</option>
        <option value=15>15. Cartago</option>
        <option value=16>16. Tilarán</option>
        <option value=17>17. Moravia</option>
        <option value=18>18. Cerro Chirripó</option>
        <option value=19>19. Santa Elena</option>
        <option value=20>20. Bribri</option>
        <option value=21>21. Talamanca</option>
        <option value=22>22. Los Chiles</option>
        <option value=23>23. Heredia</option>
        <option value=24>24. Santa Cruz</option>
    </select>

    <h5>3. Seleccione el tipo de transporte</h5>
    <select name="tipoTransporte">
        <option value="avion">AVION</option>
        <option value="bus">BUS</option>
        <option value="taxi">TAXI</option>
        <option value="tren">TREN</option>
    </select>
    <br> </br>
    <button type="button">Consultar</button>
    <br> </br>
    <input type="button" onclick="location.href='reservacion.html'" value="Ir a reservarciones">

    <br> </br>
    <IMG SRC="mapa.png">

</form>

<script>
    $(document).on('ready', function () {
        $('button').click(function () {
            var user = localStorage.getItem("user");
            var pass = localStorage.getItem("pass");
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: 'http://127.0.0.1:5000/viajando/consultas',
                data: $('form').serialize(),
                type: 'POST',
                "headers": {
                    "authorization": "Basic " + btoa(user + ":" + pass)
                },
                success: function (response) {
                    console.log(response);
                    document.getElementById("info").innerHTML = response;
                },
                error: function (error) {
                    console.log(error);
                    alert("Lo sentimos, no es posible realizar la accion");
                }
            });
        });
    });
</script>

<div id = "info">
</div>

</body>

</html>