<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>VIAJANDO</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <LINK REL="stylesheet" TYPE="text/css" HREF="../style/apariencia.css">
</head>

<body>

<form class="form-registro" action="/formulario" method="post" role="form">
    <h1>WS-2 VIAJANDO</h1>
    <h2>Registro</h2>
    <input type = "email" name="usuario" placeholder="Correo" required autofocus>
    <input type="password" name="contrasena" placeholder="Contrasena" required>

    <button type="button">OK</button>

    <input type="button" onclick="location.href='login.html'" value="Ingresar">

</form>

<script>
    $(document).on('ready',function() {
        $('button').click(function () {
            $.ajax({
                "async":true,
                "crossDomain":true,
                url: 'http://127.0.0.1:5000/registro',
                data: $('form').serialize(),
                type: 'POST',
                success: function (response) {
                    console.log(response);
                    alert(response.respuesta);
                    location.href = 'login.html'
                },
                error: function (error) {
                    console.log(error);
                    alert("Lo sentimos, no es posible realizar la accion");
                }
            });
        });
    });
</script>

</body>

</html>