<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RESERVAR</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <LINK REL="stylesheet" TYPE="text/css" HREF="../style/apariencia.css">
</head>

<body>

<form class="form-consultas" action="/reservar" method="post" role="form">
    <h1>WS-2 VIAJANDO</h1>
    <h2>Reserve su espacio</h2>

    <h5>1. Seleccione el tipo de transporte</h5>
    <select name="tipoTransporte">
        <option value="avion">AVION</option>
        <option value="bus">BUS</option>
    </select>

    <h5>2. Seleccione la cantidad de plazas a reservar</h5>
    <select name="cantidad">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
    </select>

    <h5>3. Digite el código de reservación del transporte deseado</h5>
    <input name="ID" placeholder="ID del transporte" required autofocus>

    <button type="button">Reservar</button>
</form>

<script>
    $(document).on('ready', function () {
        $('button').click(function () {
            var user = sessionStorage.getItem("user");
            var pass = sessionStorage.getItem("pass");
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: 'http://127.0.0.1:5000/viajando/reservacion',
                data: $('form').serialize(),
                type: 'POST',
                "headers": {
                    "authorization": "Basic " + btoa(user + ":" + pass)
                },
                success: function (response) {
                    console.log(response);
                    alert(response)
                },
                error: function (error) {
                    console.log(error);
                    alert("Lo sentimos, no es posible realizar la accion." +
                        "Revise su reservación o inicie sesión")
                }
            });
        });
    });
</script>
</body>

</html>