<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RESERVAR</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>

<form class="form-consultas" action="/reservar" method="post" role="form">
    <h2>Reserve su espacio</h2>
    <input name="tipoTransporte" placeholder="Tipo de Transporte" required autofocus>
    <input name="ID" placeholder="ID del transporte" required autofocus>
    <input name="cantidad" placeholder="Cantidad de espacios" required autofocus>
    <button type="button">Reservar</button>
</form>

<script>
    $(document).on('ready',function() {
        $('button').click(function () {
            $.ajax({
                "async":true,
                "crossDomain":true,
                url: 'http://127.0.0.1:5000/viajando/reservacion',
                data: $('form').serialize(),
                type: 'POST',
                "headers": {
                    "authorization": "Basic " + btoa(user + ":" + pass)
                },
                success: function (response) {
                    console.log(response);
                    alert(response);
                },
                error: function (error) {
                    console.log(error);
                    alert(response);
                }
            });
        });
    });
</script>

</body>

</html>